<app-header></app-header>
<div class="app-container">
  <div class="page-header">
    <h1>Brastlewark <small class="pull-right">Showing <span class="badge"> {{ gnomeTotal }}</span> Gnomes</small></h1>
    <h2 ng-if="type"><span class="label"></span></h2>
  </div>
  <div class="row">
    <div class="col-lg-3" *ngFor="let gnome of gnomeList">
      <div class="gnome-panel panel panel-default">
        <div class="panel-heading">
          <app-gnome-name [gnome]="gnome"></app-gnome-name>
        </div>
        <div class="panel-body">
          <a href="/gnome/id/{{gnome.id}}">
            <img class="avatar center-block" src="{{gnome.thumbnail}}">
          </a>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                Professions
            </div>
        </div>
        <div class="professions-container">
          <div class="text-center">
            <app-gnome-professions [professions]="gnome.professions"></app-gnome-professions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
