
.title-profile{
  text-align: center;
}

.gnome-panel {
  height: 395px;
}

.gnome-panel h1 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.gnome-panel h1 > small {
  color: #ccc;
}

.link-title{
  font-size: 18px;
}

.gnome-panel img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
}

.avatar{
    max-width: 382px;
    max-height: 255px;
    margin-top: 40px;
}

.gnome-panel .panel-body {
  position: relative;
  height: 250px;
}

.gnome-panel .professions-container {
  margin-top: 5px;
}
.gnome-panel .professions {
    margin: 2px;
  background-color: #f08030;
  border: solid 1px #9c531f;
}